{% extends "layout.html" %}

{% block title %}
    finder
{% endblock %}

{% block main %}
    <div>
        <form action="/" method="get">
            <div class="input-group mb-3 flex-nowrap">
                <span class="input-group-text">Part:</span>
                <input class="form-control" autofocus id="search" name="search" type="text" required>
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div id="result"></div>
{% endblock %}

{% block footer %}
<script src="../static/auto_search.js"></script>
{% endblock %}
