{% extends "layout.html" %}

{% block title %}
    finder
{% endblock %}

{% block main %}
    <div>
        <form action="/" method="get">
            <div class="input-group mb-3 flex-nowrap">
                <span class="input-group-text">Part:</span>
                <input class="form-control" autofocus id="search" name="search" type="text" required>
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div id="result"></div>
{% endblock %}

{% block footer %}
<script>
    const log = document.getElementById("values");
    const input_field = document.getElementById("search")
    const form = document.querySelector("form")
    const result = document.getElementById("result")

    input_field.addEventListener("input", submit_form);
    function submit_form() {
        fetch("/result?search=" + input_field.value) 
        .then(response => {
            return response.text()
        })
        .then(html => {
            result.innerHTML = html
        })
    }

    form.onsubmit = function(event){
        event.preventDefault();      
        fetch("/result?search=" + input_field.value) 
        .then(response => {
            return response.text()
        })
        .then(html => {
            result.innerHTML = html
        })
    }

</script>
{% endblock %}
